steam:
    token: asdf
    token_prefix: ser_
    serverlist: servers.txt

docker:
    entrypoint: /home/csgo/run.sh
    mask: /24
    gw: 10.0.0.254
    dockerifle: ./Dockerfile
    demo_vol: /path/to/demos
    demo_path: /home/cs/serverfiles/csgo/matches

cs:
    serverlist: ./servers.txt
    rcon_pw: ebinpw
    tickrate: 128
    map: de_dust2
    mapgroup: mg_active
    maxplayers: 16
    gamemode: 1
    gametype: 0
